.emitter-list {
  box-sizing: border-box;
  width: 300px;
  background: #252526;
  color: #CCCCCC;
  padding: 10px;
  overflow-x: hidden;
}

.emitter-list > ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.emitter-list > ul > li {
  padding: 10px;
}

.emitter-list > ul > li:hover {
  background: #323232;
}

.emitter-list .selected {
  background: #2c3b5c !important;
}

.emitter-list-name {
  font-weight: bold;
  padding: 2px;
}

.emitter-list-source {
  padding: 2px;
  font-size: 15px;
}
